<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.dao.FilmMapper">
    <select id="selectFilmList" resultType="com.hand.exam.bean.Film">
        SELECT title, description, release_year, Special_features FROM film
    </select>
</mapper>